/* This is the main CSS for the note */


#note-container {
    display: flex;
    margin: 100px auto;
    padding: 30px;
    justify-content: space-around; 
}

#note-text {
    display: flex;
    flex-direction: column;
}

#notes {
    overflow-y: scroll;
    height: 150px;
    width: 150px;
}
